.contianer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}
.popupclass{
    border: grey 2px solid;
    background-color: white;
    float: right;
    max-width: 40%;
    padding:5px;
    border-radius: 5px;
}

.cards-grid-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 90%;
}


.card_img {
    max-height: 150px;
    display: flex;
    margin-bottom: 15px;
}

.card_inner {
    display: flex;
    justify-content: center;
}

.beerName {
    font-weight: 800;
    color: #3e4c45;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;

}

.card_item {

    padding: 10px;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 6px;
    height: 300px;
    position: relative;
}
.basket_card_item {

    padding: 10px;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 6px;
    height: 330px;
    position: relative;
}



.txtcard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.navBarContainer {
    background-color: white;
    width: 100%;
    margin-top: -10px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);


}

.navBarContainer img {
    max-height: 100px;
    padding: 10px;
}

.navBar {

    padding: 2px;
    text-align: center;
}

.textcard {
    width: 50%;
    float: left;
    padding: 1px;
    justify-content: space-between;
    color: orange
}

.vol {
    text-align: right;
}

.detail-box {
    display: flex;
    flex-direction: column;


}

.card_item:hover {
    border-radius: 8px;
    box-shadow: 3px 1px 10px lightgray;
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
}

body {
    background-color: white;
}

.seeMore {
    margin-top: 10px
}

.adbanner {
    width: 100%;
    margin-bottom: 50px;
    max-height: 200px;
    margin: 0px;
    display: block;
}

.log {
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-container {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-container h1 {
    letter-spacing: 5px;
    text-align: center;
}

.login-container h2 {
    margin-top: 0px;
    color: rgba(0, 159, 206);

}

.btnLinks {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 20px;
    min-width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    color: rgb(0, 159, 206);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 159, 206, 1);
    display: block;
}

.btnLinks:hover {
    color: white;
    box-shadow: 0 0 15px rgba(0, 159, 206, 0.6);
    background-color: rgba(0, 159, 206, 1);
}

.input-login {
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 250px;
    display: flex;
}

.input-btn form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.addto{
 
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        font-weight: 600;
        margin-top: 20px;
        width: 100%;
        padding: 5px 0;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
        transition: 0.4s;
        color: rgb(0, 159, 206);
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 159, 206, 1);
        display: block;
    
    
}
.basket {
    display: inline-block;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    border-radius: 50%;
}
.bottom-btn {
    display: flex;    
    margin: auto;
    
    justify-content: center;

}
.buttonSpace {
    display: flex;    
    margin: auto;
    flex-direction: row;
    justify-content: center;

}

.moreinfo{
    cursor: pointer;
    border: 0;
    margin-top: 5px;
    text-decoration: none;
    font-weight: 600;
   
    width: 100%;
    
   
    transition: 0.4s;
    color: rgb(0, 159, 206);
    text-underline-offset: 4px;
    display: block;
}
.moreinfo:hover {
    color: rgb(0, 159, 206, 0.5);
}
.next-btn{
    display: flex;
    justify-content: center;
  
    align-items: center;
}
.next-btn > button{
    margin: 10px 5px;
}
.smbtnLinks {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    min-width: 100px;
    padding: 5px 5px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    color: rgb(0, 159, 206);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 159, 206, 1);
    
}

.smbtnLinks:hover {
    color: white;
    box-shadow: 0 0 15px rgba(0, 159, 206, 0.6);
    background-color: rgba(0, 159, 206, 1);
}
.basketNum-enter {
    
   
   font-size: 100%;
    
       
    
  }
  .basketNum-enter-active {
    
    
    
    font-size: 140%;
    transition: font-size 200ms;  
    
    
  }
  .basketNum-exit {
    
    font-size: 100%;
    
    
    
    
  }
  .basketNum-exit-active {
    
    font-size: 100%;
    transition: font-size 200ms;    
    
  }
  





/* resposive design */
@media screen and (max-width: 1434px) {
    .cards-grid-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        max-width: 95%;
    }
}


@media screen and (max-width: 900px) {
    .cards-grid-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        max-width: 95%;
    }
}
@media screen and (max-width: 540px) {
    .basket_card_item {
        height: 400px;
    }
    .card_item {
        height: 370px;
    }    
    .smbtnLinks {
        font-size: 70%;
        height: 24px;
    }
    .popupclass {
        width: 75%;
    }
}    





